<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .justificar {
        text-align: justify;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Certificado de Alumno Regular: {{alumno.apellido}} {{alumno.nombre}}
    </title>
  </head>
  <body>
    <img src="/static/img/logo-ministerio.png" />
    <img src="/static/img/logo-utn.png" />
    <p class="justificar">
      Ficha alumno {{alumno.apellido}}, {{alumno.nombre}} –
      {{alumno.tipoDocumento}}: {{alumno.nroDocumento}} - LEGAJO Nº:
      {{alumno.nroLegajo}}, {{especialidad.nombre}} {{facultad.nombre}}
      -{{facultad.universidad.nombre}}.
    </p>
  </body>
</html>
